<h1>Hi, Dear Admin</h1>
<div>

<p>
Informed to Dear Admin/Librarian
I borrowed a book from your Library.  http://localhost:3000/books .<%#= link_to 'Back', borrow_histories_path(user) , class: 'btn btn-dark' %>
I will returen it before due date.
</p>
Thanls!
<%# <p>
Kindly accept this request, Go To conformation page:
http://localhost:3000/borrow_histories
</p> %>
<%#= link_to  "book page", @books_path, class: "btn btn-primary" %>

</div>
