<div class= "text-white bg-dark mb-3" >


  <div class=" col-lg-12 col-md-12">
    <div class="jumbotron">
     <style>
       h1 {text-align: center;}
     </style>
      <h1 class="display-4">Library Management System</h1>
      <p class="lead"><h3>Library Management System Project in Ruby on Rails</h3></p>
      <hr class="my-4">
           <img
              src="https://media.istockphoto.com/id/1436925287/photo/the-bookshelf-where-books-are-stored-in-the-library.jpg?b=1&s=170667a&w=0&k=20&c=r_EXyuaNJiSLnEkeTU_ccR9D6vvIFXJ-Z_y2szMYWrc="
              class=""
              height=" 500 "
              alt="Avatar"
              loading="lazy"
            />
      <p>
        The “Library Management System project in Ruby on Rails” is a library management software for monitoring and controlling transactions in a library. It is written in Ruby on Rails and focuses on basic operations in a library such as adding new members, new books, and updating new information, as well as searching books and members to borrow and return books.
      </p>
      <h3>The Proposed System</h3>
      <p> The proposed system is a library management system that is automated. Our program allows users to quickly add members, add books, search for members, search for books, update information, amend information, and borrow and return books. The following are some of the benefits of our suggested system:
        <ul>
        <li>1. An easy-to-use interface</li>
        <li>Database access is quick.</li>
        <li>There are fewer mistakes.</li>
        <li>Increased Storage Capacity</li>
        <li>A search engine</li>
        <li>Environment to Look at and Feel</li>
        <li>Transaction was completed quickly.</li>
        </ul>
        By implementing computerization, all of the manual obstacles in operating the Library have been eliminated.
      </p>
      <h3>Features of Library Management System Project in Ruby on Rails in Admin Side</h3>
      <div><img
              src="https://media.istockphoto.com/id/1395601958/photo/high-school-teacher-in-a-library.jpg?b=1&s=170667a&w=0&k=20&c=YuxD3ZROw88wBUUaupKp6GYOrG8ZFGlsh8prE8HmuKc="
              class=""
              height="500"
              alt="Avatar"
              loading="lazy"
            />
        </div>
      <ul>
        <li>Log in with your email address and password.</li>
        <li>Edit your personal information</li>
        <li>Accounts for Librarians and Students can be created and modified.</li>
        <li>Libraries and Books can be created, modified, and deleted.</li>
        <li>View the user list (students and librarians) as well as their profiles (except password)</li>
        <li>View the whole list of books, as well as further information.</li>
        <li>Take a look at the list of book hold requests.</li>
        <li>View the list of books that have been checked out.</li>
        <li>View the list of students that have books that are past due (along with overdue fines)</li>
        <li>View each book’s borrowing history.</li>
        <li>Delete the Student, Book, and Librarian records from the system.</li>
      </ul>
          <h3>Features of Library Management System Project in Ruby on Rails in Librarian Side</h3>        <ul>
          <li>Log in using your email address and password.</li>
          <li>They can choose an existing library by editing their own profile.</li>
          <li>A librarian is only allowed to work for one library at a time.</li>
          <li>Make changes to the library’s attributes.</li>
          <li>Toggle between adding and removing books from a library.</li>
          <li>View and edit information about a book.</li>
          <li>View the complete list of books.</li>
          <li>He or she can see hold requests for any book in the library where he or she works.</li>
          <li>Accept or deny book hold requests for books in the special collection.</li>
          <li>View a list of all of their library’s books that have been checked out.</li>
          <li>View the borrowing history of their library’s books</li>
          <li>View a list of students who have overdue library books as well as overdue fines.</li>
        </ul>
        <h3>Features of Library Management System Project in Ruby on Rails in Student Side</h3>
        <ul>
        <div><img
              src="https://media.istockphoto.com/id/1314790210/photo/young-female-student-choosing-book-from-shelf-in-library-at-community-college.jpg?b=1&s=170667a&w=0&k=20&c=8x2ld_gkDx_DCw-whNPvkL1LLluf7EzrSk9-NacVLu0="
              class=""
              height="500"
              alt="Avatar"
              loading="lazy"
            /></div>
        <li>Log in using your email address and password.</li>
        <li>They can choose an existing library by editing their own profile. A librarian is only allowed to work for one library at a time.</li>
        <li>Make changes to the library’s attributes.</li>
        <li>Toggle between adding and removing books from a library.</li>
        <li>View and edit information about a book.</li>
        <li>View the complete list of books.</li>
        <li>He or she can see hold requests for any book in the library where he or she works.</li>
        <li>Accept or deny book hold requests for books in the special collection.</li>
        <li>View a list of all of their library’s books that have been checked out.</li>
        <li>View the borrowing history of their library’s books.</li>
        <li>View a list of students who have overdue library books as well as overdue fines.</li>
        </ul>
        <h3>
        Summary
        </h3>
        <p>
           To decrease human errors and boost efficiency, the library administration system must be computerized. The library management system described in this proposal will be a computerized management system designed to keep track of all of the library’s everyday operations. Library management systems are meant to keep track of all the details regarding books and members. The primary goal of this project is to reduce human labor and promote efficient record keeping. We are, however, working on an offline version. If we can create an online version as well as a student (member) viewing part by registering an account on this system, that would be fantastic.
        </p>
        <div><img
              src="https://media.istockphoto.com/id/971256984/photo/thank-you-for-visiting.jpg?b=1&s=170667a&w=0&k=20&c=UY5f7OYlGzZ7zGJbvV-3Ur6Z8nqu47VUTHQqNOBB0PA="
              class=""
              height="300"
              alt="Avatar"
              loading="lazy"
            /></div>
    </div>
  </div>
</div>

