<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="bs-modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class= "text-dark >
           <h1 class= "modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= render "form", book: book %>
        <%#= render "form", form: form %>

      </div>
    </div>
  </div>
<%end%>
