<h1>Editing borrow history</h1>

<%= render "form", borrow_history: @borrow_history %>

<br>

<div>
  <%= link_to "Show this borrow history", @borrow_history %> |
  <%= link_to "Back to borrow histories", borrow_histories_path %>
</div>
